/* ============ desktop view ============ */

#header a {
    font-size: 2em;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    color: #12682c;
}

#search {
    margin: 150px 0;
    padding: 0 20%;
}

#search input:focus {
    border-color:#12682c;
    outline:0;
    box-shadow:0 0 0 .25rem rgba(13, 253, 101, 0.25);
}

.container h2 {
    font-family: 'Caveat', cursive;
    font-weight: 400;
    font-size: 1.7em;
}

.result-item {
    width: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.result-item a {
    text-decoration: none;
    color: #232323;
}

.result-item-name h3 {
    font-size: 1.4em;
}

.result-item-name h3:hover {
    color: #f5b505;
}

.result-item-photo img {
    width: 100%;
}