/* ============ desktop view ============ */


* {
    text-decoration: none;
    font-family: 'Dosis', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
}

.container h1 {
    font-family: 'Caveat', cursive;
    font-weight: 700;
    font-size: 2em;
}

.container h2 {
    font-family: 'Caveat', cursive;
    font-weight: 300;
    font-size: 1.6em;
}

.container h3 {
    font-weight: 600;
}

.container h4 {
    font-weight: 500;
}

.container a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.1rem;
    color: #12682c;
}

.container a:hover {
    color: #fcb307;
}

#header a {
    font-size: 2em;
    font-family: 'Caveat', cursive;
    font-weight: 700;
    color: #12682c;
}

#search {
    margin: 200px 0;
    padding: 0 20%;
}

#search input:focus {
    border-color:#12682c;
    outline: 0;
    box-shadow:0 0 0 .25rem rgba(13, 253, 101, 0.25);
}

.result-item {
    width: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.result-item h4 {
    padding: 10px;
    text-align: center;
}

.result-item a {
    text-decoration: none;
    color: #232323;
    position: relative;
}

.result-item a:hover {
    color: #232323;
}

.item-name h3 {
    text-align: center;
    padding: 10px 0 15px;
    font-size: 2.6em;
}

.item-name h2,
.instruction h2 {
    margin: 20px 0 10px;
    color: #12682c;
}

.item-name {
    margin: 0 50px;
}

.item-photo img {
    width: 100%;
}

.overlayer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #1a322283;
    color: #fff;
    text-align: center;
    padding: 45% 0;
    visibility: hidden;
    opacity: 0;
    box-shadow:0 0 0 0.7rem #1a322283;
}

.result-item:hover .overlayer {
    visibility: visible;
    opacity: 1;
}

#footer {
    background-color: #dedede;
    margin-top: 40px;
    padding-bottom: 40px;
}

#footer ul {
    list-style-type: none;
    margin-bottom: 50px;
}

#footer .text-muted {
    text-align: center;
}

.page-item {
    margin: 0px;
}

#pagination {
    display:inline-flex;
}

#ingredients li {
    line-height: 1.1em;
}

/* ============ mobile view ============ */

@media only screen and (max-width: 600px) {

    #search {
        margin: 200px 0;
        padding: 0 5%;
    }

    .search-results div {
        display: -webkit-box;
        display: -moz-box;
        display: box;
        
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        box-orient: vertical;
    }

    .row-cols-2 div {
        width: 100%;
        margin: 0;
    }
    
    .recipes {
        -webkit-box-ordinal-group: 1;
        -moz-box-ordinal-group: 1;
        box-ordinal-group: 1;
    }

    #recipes {
        width: 100%;
        text-align: center;
        padding: 0 15%;
    }

    .item-photo {
        width: 100%;
    }

    .filterCuisine {
        -webkit-box-ordinal-group: 2;
        -moz-box-ordinal-group: 2;
        box-ordinal-group: 2;
        padding: 10%;
        width: 100%;
    }

    .pagination {
        -webkit-box-ordinal-group: 3;
        -moz-box-ordinal-group: 3;
        box-ordinal-group: 3;
    }

}