<footer class="pt-5 pb-4" id="footer">
    <div class="container">
        <div class="row">
            <div class="container-fluid mb-4">
                <a href="../index.html" class="navbar-brand" >
                    <h3><img src="img/logo.svg" alt="Logo" width="60" height="40">
                    Back to Search</h3>
                </a>
            </div>
            

            <h2>World Cuisines to Discover</h2>
                
                <ul class="col-md">
                    <li><a href="#">African</a></li>
                    <li><a href="#">American</a></li>
                    <li><a href="#">British</a></li>
                    <li><a href="#">Cajun</a></li>
                </ul>
                <ul class="col-md">
                    <li><a href="#">Caribbean</a></li>
                    <li><a href="#">Chinese</a></li>
                    <li><a href="#">Eastern European</a></li>
                    <li><a href="#">European</a></li>
                </ul>
                <ul class="col-md">
                    <li><a href="#">French</a></li>
                    <li><a href="#">German</a></li>
                    <li><a href="#">Greek</a></li>
                    <li><a href="#">Indian</a></li>
                </ul>
                <ul class="col-md">
                    <li><a href="#">Irish</a></li>
                    <li><a href="#">Italian</a></li>
                    <li><a href="#">Japanese</a></li>
                    <li><a href="#">Jewish</a></li>
                </ul>
                <ul class="col-md">
                    <li><a href="#">Korean</a></li>
                    <li><a href="#">Latin American</a></li>
                    <li><a href="#">Mediterranean</a></li>
                    <li><a href="#">Mexican</a></li>
                </ul>
                <ul class="col-md">
                    <li><a href="#">Middle Eastern</a></li>
                    <li><a href="#">Nordic</a></li>
                    <li><a href="#">Southern</a></li>
                    <li><a href="#">Spanish</a></li>
                </ul>
                <ul class="col-md">
                    <li><a href="#">Thai</a></li>
                    <li><a href="#">Vietnamese</a></li>
                </ul>
            
            
            <span class="text-muted">Tetiana Savaryn &copy; 2023 | t.savaryn@gmail.com | (514) 826-7963</span>
        </div>
    </div>
</footer>